# Core
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.7.0
scipy==1.15.3
joblib==1.5.1

# Web & Async
Flask[async]
Flask-Cors
hypercorn
python-dotenv

# AI (Only what you actually use)
google-generativeai
google-genai
requests
nltk
transformers==4.40.0

# Routing
networkx>=2.8.0
osmnx>=1.6
geopandas>=0.13.2
shapely>=2.0.1

# Additional
gunicorn==23.0.0
# Additional
gunicorn==23.0.0

# This tells Render where to find the CPU-only versions of Torch
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1
torchvision==0.17.1